/* Configurações gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: #e2e8f0;
    margin: 0;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: #1e293b;
    text-align: center;
    padding: 40px 20px;
    border-bottom: 3px solid #38bdf8;
}

header h1 {
    color: #38bdf8;
    margin-bottom: 10px;
}

header p {
    color: #cbd5e1;
}

/* Área principal */
main {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
}

/* Cada seção */
section {
    background-color: #1e293b;
    margin-bottom: 25px;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #334155;
}

/* Títulos */
h2 {
    color: #38bdf8;
}

/* Inputs */
input,
select,
textarea {
    background-color: #0f172a;
    color: #e2e8f0;
    border: 1px solid #475569;
    border-radius: 6px;
    padding: 10px;
    margin: 5px 0;
}

/* Inputs de texto */
input[type="text"],
input[type="email"],
input[type="date"] {
    width: 90%;
}

/* Quando clicar no input */
input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #38bdf8;
}

/* Labels */
label {
    margin-right: 10px;
}

/* Imagem */
img {
    max-width: 200px;
    display: block;
    margin: 15px 0;
    border-radius: 10px;
}

figcaption {
    color: #94a3b8;
    font-size: 14px;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th,
td {
    border: 1px solid #475569;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #0f172a;
    color: #38bdf8;
}

tfoot td {
    text-align: center;
    font-weight: bold;
}

/* Respostas */
details {
    background-color: #0f172a;
    padding: 15px;
    border-radius: 8px;
}

summary {
    cursor: pointer;
    color: #38bdf8;
}

/* Botão */
button {
    background-color: #38bdf8;
    color: #0f172a;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #7dd3fc;
}

/* Link */
a {
    color: #38bdf8;
}

a:hover {
    color: #7dd3fc;
}

/* Rodapé */
footer {
    background-color: #020617;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
    color: #94a3b8;
}